header{
    font-family: 'Courier New', Courier, monospace;
}
header, footer {
    background: #3d1d8e;
    color: wheat;
    padding:  20px;
}

#logo-header {
    font-size: 30px;
}

a{
    text-decoration: none;
    color: wheat;
}

main {
    background-color: rgb(209, 118, 38);
    padding: 20px;
    color: wheat;
    font-family: 'Courier New', Courier, monospace;
}

img{
    margin: 30px;
}
.rede-social {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
}

/*Propriedades flex box */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    justify-content: flex-end;
}

li, .rede-social {
    margin-left: 48px;
}
